<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HoldTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HoldTimer.Properties.Settings>
            <setting name="TimerBackColor" serializeAs="String">
                <value>80, 60, 100</value>
            </setting>
            <setting name="TimeDefaultColor" serializeAs="String">
                <value>63, 150, 131</value>
            </setting>
            <setting name="AlertTimeColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="OverTimeColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="TimerForeColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="OverTimeValue" serializeAs="String">
                <value>00:02:00</value>
            </setting>
            <setting name="AppBackColor" serializeAs="String">
                <value>51, 31, 67</value>
            </setting>
            <setting name="SelectedTheme" serializeAs="String">
                <value>Default</value>
            </setting>
        </HoldTimer.Properties.Settings>
    </userSettings>
</configuration>